# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de PostgreSQL
DB_HOST=tu_host_de_neon_aqui.tech
DB_PORT=5432
DB_NAME=tu_nombre_de_bd_aqui
DB_USER=tu_usuario_de_bd_aqui
DB_PASSWORD=tu_contraseña_de_neon_aqui

# Configuración de sesiones
SESSION_SECRET=una_clave_secreta_aleatoria

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name_aquí
CLOUDINARY_API_KEY=tu_api_key_aquí
CLOUDINARY_API_SECRET=tu_api_secret_aquí
