extends ../layouts/layout

block metadata
  title Inicio - PicME!
block content
  .text-center
    h1 PicME!
    if user
      a.btn.btn-success(href="/posts/create")
        | Nueva publicación

    each pub in publicaciones
      .card.mb-3
        .card-body
          h4
            a(href="/posts/" + pub.id)
              = pub.titulo
          p= pub.descripcion
          small
            | Por #{pub.usuario.username}