extends ../layouts/layout

block metadata
  title Inicio - PicME!
block content
  .container
    .text-center.mb-4
      h1.title 
        i.bi.bi-camera-fill.me-2
        | PicME!
      if user
        a.btn.btn-pink.mb-4(href="/posts/create")
          | Nueva publicación
    .row.justify-content-center
        each pub in publicaciones
          .col-md-6.col-lg-4.mb-4
            .card.h-100.shadow
              if pub.imagenes && pub.imagenes.length > 0
                img.card-img-top(
                  src=pub.imagenes[0].url
                  alt=pub.titulo
                  style="height:220px;object-fit:cover;"
                )
              .card-body.d-flex.flex-column
                h5.card-title.mb-3
                  a.text-decoration-none(href="/posts/" + pub.id)
                    = pub.titulo
                if pub.descripcion
                  p.card-text.flex-grow-1.small
                    = pub.descripcion
                .mt-auto.pt-2.small.text-muted.mb-2
                  .small.text-muted.mb-2
                    span.me-3
                      i.bi.bi-images.me-1
                      = pub.totalImagenes
                    span.me-3
                      if pub.promedioValoracion
                        = pub.promedioValoracion
                      else
                        | Sin votos
                    if pub.copyright === 'copyright' || (pub.imagenes && pub.imagenes[0] && pub.imagenes[0].copyright === 'copyright')
                      span.text-warning
                        i.bi.bi-c-circle.me-1
                        | Copyright
                    else
                      span.text-success
                        i.bi.bi-globe.me-1
                        | Libre
                    small.text-muted.d-block.pt-2
                      | Por 
                      a(href="/profile/" + pub.usuario.username)= pub.usuario.username